{%- assign metafield_namespace = section.settings.metafield_namespace | default: "app--6007307--sanity-fields" -%}
{%- assign modules_key = section.settings.modules_metafield_key | default: 'shopifyModules' -%}

{%- assign variant = product.selected_or_first_available_variant -%}
{%- assign variant_modules = variant.metafields[metafield_namespace][modules_key].value -%}
{%- assign product_modules = product.metafields[metafield_namespace][modules_key].value -%}

{%- assign variant_modules_count = variant_modules | size -%}
{%- assign product_modules_count = product_modules | size -%}
{%- if variant_modules_count == 0 and product_modules_count == 0 -%}
  {%- assign alt_key = 'modules' -%}
  {%- assign variant_modules_alt = variant.metafields[metafield_namespace][alt_key].value -%}
  {%- assign product_modules_alt = product.metafields[metafield_namespace][alt_key].value -%}
  {%- if variant_modules_alt != blank and variant_modules_alt.size > 0 or product_modules_alt != blank and product_modules_alt.size > 0 -%}
    {%- assign variant_modules = variant_modules_alt -%}
    {%- assign product_modules = product_modules_alt -%}
  {%- endif -%}
{%- endif -%}

{%- if variant_modules != blank and variant_modules.size > 0 -%}
  {%- assign modules = variant_modules -%}
{%- else -%}
  {%- assign modules = product_modules -%}
{%- endif -%}

{%- assign system_meta = product.metafields[metafield_namespace]['_system'].value -%}
{%- assign sanity_project_id = system_meta.projectId | default: section.settings.sanity_project_id -%}
{%- assign sanity_dataset = system_meta.dataset | default: section.settings.sanity_dataset -%}
{%- if sanity_project_id == 'unset' -%}{%- assign sanity_project_id = '' -%}{%- endif -%}
{%- if sanity_dataset == 'unset' -%}{%- assign sanity_dataset = '' -%}{%- endif -%}

{% stylesheet %}
  @media screen and (width >= 750px) {
    .sanity-modules .sanity-module__text {
      margin-inline-start: var(--sanity-text-margin-inline-start, 0px);
      margin-inline-end: var(--sanity-text-margin-inline-end, 0px);
    }
  }

  @media screen and (width < 750px) {
    .sanity-modules .sanity-module__text {
      margin-inline-start: max(var(--padding-xs), var(--sanity-text-margin-inline-start, 0px));
      margin-inline-end: max(var(--padding-xs), var(--sanity-text-margin-inline-end, 0px));
    }
  }

  .sanity-module__two-column-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--two-column-gap, 16px);
  }

  .sanity-module__two-column-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .sanity-module__heading {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 44px;
  }

  .sanity-module__heading--left {
    text-align: left;
  }

  .sanity-module__heading--center {
    text-align: center;
  }

  .sanity-module__heading--right {
    text-align: right;
  }

  .sanity-module__three-column-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--three-col-gap, 32px);
    max-width: var(--three-col-max-width, 1200px);
    margin: 24px auto;
  }

  .sanity-module__three-column-image-item {
    text-align: center;
  }

  .sanity-module__three-column-image-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  .sanity-module__three-column-image-heading {
    margin-top: 20px;
    padding-top: 20px;
  }

  @media screen and (width < 750px) {
    .sanity-module__three-column-image {
      grid-template-columns: 1fr;
    }
  }

  .sanity-module__image--constrained {
    width: 80%;
    max-width: var(--image-max-width, 800px);
    margin: 24px auto;
  }

  .sanity-module__image--constrained.sanity-module__image--left {
    margin-left: 0;
    margin-right: auto;
  }

  .sanity-module__image--constrained.sanity-module__image--center {
    margin-left: auto;
    margin-right: auto;
  }

  .sanity-module__image--constrained.sanity-module__image--right {
    margin-left: auto;
    margin-right: 0;
  }

  .sanity-module__image--constrained img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media screen and (width < 750px) {
    .sanity-module__image--constrained {
      width: 100%;
    }
  }

  .sanity-module__four-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--four-image-gap, 20px);
    width: 90%;
    max-width: var(--four-image-max-width, 1000px);
    margin: 24px auto;
  }

  .sanity-module__four-image-left,
  .sanity-module__four-image-right {
    display: flex;
    flex-direction: column;
    gap: var(--four-image-gap, 20px);
  }

  .sanity-module__four-image-right {
    margin-top: var(--four-image-offset, 80px);
  }

  .sanity-module__four-image-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media screen and (width < 750px) {
    .sanity-module__four-image {
      grid-template-columns: 1fr 1fr;
      width: 95%;
    }

    .sanity-module__four-image-right {
      margin-top: calc(var(--four-image-offset, 80px) * 0.5);
    }
  }
{% endstylesheet %}

{%- if modules != blank and modules.size > 0 -%}
  <div class="sanity-modules">
    {%- for mod in modules -%}
      {%- liquid
        assign mod_type = mod.type | default: mod._type
        assign fallback_alt = product.title

        assign has_image = false
        assign has_text = false

        if mod_type == 'image'
          assign has_image = true
        elsif mod.image or mod.asset or mod.file or mod.url or mod.src or mod.imageUrl
          assign has_image = true
        endif

        if mod.html or mod.text or mod.body or mod.content
          assign has_text = true
        endif
      -%}

      <div class="sanity-module">
        {%- case mod_type -%}
          {%- when 'twoColumnImageModule' -%}
            {%- render 'sanity-module-two-column-image',
              mod: mod,
              sanity_project_id: sanity_project_id,
              sanity_dataset: sanity_dataset,
              fallback_alt: fallback_alt
            -%}

          {%- when 'headingModule' -%}
            {%- render 'sanity-module-heading', mod: mod -%}

          {%- when 'threeColumnImageModule' -%}
            {%- render 'sanity-module-three-column-image',
              mod: mod,
              sanity_project_id: sanity_project_id,
              sanity_dataset: sanity_dataset,
              fallback_alt: fallback_alt
            -%}

          {%- when 'spacerModule' -%}
            {%- render 'sanity-module-spacer', mod: mod -%}

          {%- when 'imageModule' -%}
            {%- render 'sanity-module-image',
              mod: mod,
              sanity_project_id: sanity_project_id,
              sanity_dataset: sanity_dataset,
              fallback_alt: fallback_alt,
              constrained: true
            -%}

          {%- when 'fourImageModule' -%}
            {%- render 'sanity-module-four-image',
              mod: mod,
              sanity_project_id: sanity_project_id,
              sanity_dataset: sanity_dataset,
              fallback_alt: fallback_alt
            -%}

          {%- else -%}
            {%- if has_image -%}
              {%- render 'sanity-module-image',
                mod: mod,
                sanity_project_id: sanity_project_id,
                sanity_dataset: sanity_dataset,
                fallback_alt: fallback_alt
              -%}
            {%- endif -%}

            {%- if has_text -%}
              {%- render 'sanity-module-text',
                mod: mod,
                text_spacing: section.settings.text_spacing,
                text_max_width: section.settings.text_max_width,
                text_margin_inline_start: section.settings.text_margin_inline_start,
                text_margin_inline_end: section.settings.text_margin_inline_end
              -%}
            {%- endif -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Sanity Modules",
  "tag": "section",
  "class": "product-sanity-modules",
  "settings": [
    {
      "type": "text",
      "id": "metafield_namespace",
      "label": "Sanity metafield namespace",
      "default": "app--6007307--sanity-fields"
    },
    {
      "type": "text",
      "id": "sanity_project_id",
      "label": "Sanity project ID (fallback)",
      "default": "unset"
    },
    {
      "type": "text",
      "id": "sanity_dataset",
      "label": "Sanity dataset (fallback)",
      "default": "unset"
    },
    {
      "type": "text",
      "id": "modules_metafield_key",
      "label": "Sanity modules metafield key",
      "default": "shopifyModules",
      "info": "Metafield key in namespace app--6007307--sanity-fields that contains an array of modules. Variant-level value overrides product-level value if present."
    },
    {
      "type": "range",
      "id": "text_spacing",
      "label": "Text vertical spacing (px)",
      "min": 0,
      "max": 120,
      "step": 4,
      "default": 24
    },
    {
      "type": "range",
      "id": "text_margin_inline_start",
      "label": "Text left margin (px)",
      "min": 0,
      "max": 80,
      "step": 4,
      "default": 0
    },
    {
      "type": "range",
      "id": "text_margin_inline_end",
      "label": "Text right margin (px)",
      "min": 0,
      "max": 80,
      "step": 4,
      "default": 0
    },
    {
      "type": "range",
      "id": "text_max_width",
      "label": "Text max width (px)",
      "min": 500,
      "max": 1000,
      "step": 5,
      "default": 700
    },
    {
      "type": "paragraph",
      "content": "This section renders Sanity modules in the order provided by the metafield. Each module type is rendered by its corresponding snippet."
    }
  ],
  "presets": [
    {
      "name": "Sanity Modules"
    }
  ]
}
{% endschema %}
